body {
    background: rgb(156, 151, 146);
    font-family: Impact;
    max-width: 900px;
    margin: auto;
}

.photo {
    border: 1px solid rgb(16, 16, 19);
    border-radius: 50%;
}

#title {
    font-weight: 40x;
    text-transform: uppercase;
}

a {
    text-decoration: underline;
    color: #FFFF;
}

#title, .subtitle, .post_title {
    color: rgb(16, 16, 19);
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 15px;
}

.post {
    background: #FFFF;
    padding: 15px;
    border: 3px solid #000;
    margin: 10px;
    border-radius: 5px;
}

.post_content {
    margin: 0px;
    margin-bottom: 15px;
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
}

.contact-list {
    list-style-type: none;
    padding-left: 15px;
}
